@mixin psudeo(
  $location: before,
  $content: "",
  $position: absolute,
  $top: 0,
  $bottom: 0,
  $left: 0,
  $right: 0,
  $z-index: 0
) {
  position: relative;

  &::#{$location} {
    content: $content;
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    z-index: $z-index;
  }
}
