@use "../abstracts" as *;

.photos {
  display: inline-block;
  vertical-align: top;
  margin-top: 2.5em;
  margin-bottom: 1.875em;
  height: 18.4375em;
  width: 100%;
}

.photos-left {
  float: left;
  height: 100%;
  width: 20em;
}

.photos-left > img {
  background-size: cover;
  height: 100%;
  width: 20em;
}
.photos-right {
  float: right;
  height: 100%;
  width: 14.5625em;
}

.photos-right-upper {
  height: 49%;
  width: 100%;
  margin-bottom: 2%;
}

.photos-right-upper > img,
.photos-right-lower > img {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.photos-right-lower {
  background-size: cover;
  height: 49%;
  width: 100%;
}
